<div>
<form action="/personas" method="post">
    Nombre <input type="text" name="nombre" id="nombre">
    Apellido <input type="text" name="apellido" id="apellido">
    Edad <input type="number" name="edad" id="edad">
    <input type="submit" value="INGRESAR">
</form>
</div>