<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ingrese datos</h2>
   <%- include('../partials/formulario') %>
   <h2>Historial</h2>
   <% if(personas.length!==0){ %>
       <%- include('../partials/tabla') %>
   <%} else{ %>
    <h2>No se encontraron datos de personas</h2>
   <%} %>
</body>
</html>